@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Junge&family=Kaisei+HarunoUmi:wght@400;500;700&display=swap');

//fonts
$heading: 'Italiana', serif;
$heading2: 'Kaisei HarunoUmi', serif;
$menu: 'Junge', serif;

// Colors
$olive: #9E6C16;
$strong-wine: #B11226;
$dark-wine: #58181F;
$card-dark-wine: #140305;;
$dark: #120204;
//Estilos generales
body{
    margin: 0;
    font-family: $menu;
}
#logo{
    height:5rem;
}
#menu-icon{
    filter: invert(12%) sepia(74%) saturate(4962%) hue-rotate(344deg) brightness(93%) contrast(96%);
    height: 3rem;
}
.navbar{
    background-color: #120204;
    .navbar-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hide{
        display:none;
    }
}
.container{
    section{
        min-height: 100vh;
        .text-box{
            width: 80%;
            padding: .7rem;
            background-color: $dark;
            color: #B11226;
        }
    }
    .landing{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}